@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Poppins:wght@500&display=swap');

:root{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h2{
  margin: 0;
}

.btn{
  font-family: 'Noto Sans', sans-serif;
  flex-grow: 0;
  border: none;
  width: 100px;
  height: 32px;
  border-radius: 8px;
  cursor: pointer;
}

.btn.primary {
  background-color: #2F80ED;
  color: white;
}

.btn.success {
  background-color: #27AE60;
  color: white;
}

.btn:hover{
  opacity: .9;
}
.btn:active{
  opacity: .8;
}

.App{
  background-color: rgb(215, 217, 223);
  display: flex;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
}